@import './utils/mixins';

.contacts {
  @include page-grid;

  align-items: center;

  &__title {
    grid-column: 1 / -1;
    margin-top: 0;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__head {
    margin-bottom: 56px;
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 7 / 12;
    }
  }

  &__description {
    margin: 0;
    font-family: "Space Grotesk", serif;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__name {
    font-size: 14px;
    margin-bottom: 8px;
    color: #9393A3;
    font-weight: 400;
  }

  &__info {
    font-family: "Space Mono", serif;
    font-size: 16px;
    margin-top: 0;
    text-decoration: none;
    color:inherit;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__input {
    @include form-field;
  }

  &__textarea {
    @include form-field;

    resize: vertical;
    min-height: 148px;
  }

  &__button {
    @include form-field;

    background-color: #f8f8f8;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;

    &:focus {
      outline: none;
      background-color: #f8f8fa;
      border: #d5d7de 1px solid;
    }
  }
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset !important;
}
