@import './utils/mixins';

.contacts {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;
    margin-top: 0;

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: span 5;
      margin-left: 65px;
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__input {
    @include form-field;
  }

  &__textarea {
    @include form-field;

    resize: vertical;
    min-height: 148px;
  }

  &__button {
    @include form-field;

    background-color: #f8f8f8;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    margin-top: 16px;

    &:focus {
      outline: none;
      background-color: #f8f8fa;
      border: #d5d7de 1px solid;
    }
  }
}
