@import './utils/mixins';

.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
}

.header__content {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-family: 'Space Grotesk', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__bottom {
  padding-bottom: 40px;
}
